    <div class="card m-auto">
        <div class="card-body">
          <h2 class="card-title">Sign Up</h2>
          <form class="form signup-form">
            <div class="form-group">
              <label for="username-signup">Username:</label>
              <input class="form-input" type="text" id="username-signup" />
            </div>
            <div class="form-group">
              <label for="password-signup">Password:</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
              <button class="btn btn-secondary" type="submit">Sign-Up</button>
            </div>
            <a href="/api/login">Login Instead</a>
          </form>
        </div>
      </div>


<script src="/scripts/signup.js"></script>